<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :avatar %>
    <%= f.input :language %>
    <%= f.input :age %>
    <%= f.input :location %>
    <%= f.input :number_of_students %>
    <%= f.input :gender %>
    <%= f.input :bio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
