<p id="notice"><%= notice %></p>

<%= link_to 'Profiles', profiles_path %>

<h1>Listing Searches</h1>

<%= form_tag :method => 'GET' %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= image_tag profile.avatar,  width: '32' %></td>
        <td><%= profile.language %></td>
        <td><%= link_to 'Show', profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>
